<div>
  <app-toolbar>

  </app-toolbar>
</div>
<div class="educacion-financiera-container">
  <div class="info-section">
    <h1>Información Financiera</h1>
    <img class="info-image" src="assets/dante.jpg" alt="Foto de Dante">
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" class="action-button" [routerLink]="['/tasa-crediticia']">Tasa Crediticia</button>
    <button mat-raised-button color="primary" class="action-button">Funcionamiento de las entidades financieras</button>
    <button mat-raised-button color="primary" class="action-button">Gestión y Planificación de Gastos</button>
    <button mat-raised-button color="primary" class="action-button">Métodos de Ahorro</button>
    <button mat-raised-button color="primary" class="action-button">Consumo Responsable e Inversiones</button>
    <button mat-raised-button color="accent" class="action-button-large">Ver Desafíos Financieros</button>
  </div>
</div>
