<div>
  <app-toolbar></app-toolbar>
</div>
<section class="customer-service">
  <div class="service-container">
    <div class="back-button-container">
      <button class="back-button" (click)="goBack()">← Atrás</button><!-- Cambiado de @click a (click) -->
    </div>
    <h1 class="service-title">Servicio al cliente:</h1>
    <hr class="divider" />
    <article class="contact-info">
      <p class="contact-details">
        <span>Si quiere contactarse con nosotros puede escribir al siguiente número: </span>
        <strong>936789014</strong>
        <br /><br />
        <span>También, puede comunicarse mediante el correo: </span>
        <strong>contacto&#64;saifu.pe</strong>

        <br /><br />
        <span>Contactenos en nuestras redes sociales:</span>
      </p>
      <div class="social-icons">
        <img loading="lazy" src="https://i.postimg.cc/0jpq4QzB/Instagram-icon.png" alt="Social media icon" class="social-icon" />
        <img loading="lazy" src="https://i.postimg.cc/Gp73PHDP/Whats-App-icon.png" alt="Social media icon" class="social-icon" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4ed16e8ec6bd8013e82e55002ccb27cdfe41c0c046f30bd6892a195b3b555c44?placeholderIfAbsent=true&apiKey=02dd0833c9cc4e1c855ca8ac5fba7e53" alt="Social media icon" class="social-icon" />
      </div>
    </article>
  </div>
</section>
