/* Estilos generales */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 13px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 42px;
  height: 37px;
  margin-right: 5px;
}

.logo a {
  font-size: 22px;
  color: #585858;
  font-weight: 700;
  text-decoration: none;
}

.logo a:hover {
  font-weight: bold;
  display: inline-block;
  transform: scale(1.1);
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: #424955;
  font-size: 18px;
  padding: 15px 12px;
  margin-right: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;
}

.nav-items a:hover {
  background-color: #437F54;
  color: #FFFFFF;
}

.auth {
  display: flex;
  align-items: center;
}

.login {
  color: #57993A;
  font-size: 14px;
  margin-right: 18px;
}

.signup-button {
  padding: 7px 19px;
  margin-right: 20px;
  background-color: #437F54;
  border: none;
  border-radius: 18px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
.signup-button:hover{
  font-weight: bold;
  display: inline-block;
  transform: scale(1.1);
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .nav-items, .auth {
    display: none;
  }

  .nav-active .nav-items, .nav-active .auth {
    display: flex;
    flex-direction: column;
  }

}
