<mat-toolbar class="navbar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Saifu Logo" />
    <span><a routerLink="/landing">Saifu</a></span>
  </div>
  <ul class="nav-items">
    <li class="nav-item"><a routerLink="/features">Beneficios</a></li>
    <li class="nav-item"><a routerLink="/about-us">Saber más</a></li>
    <li class="nav-item"><a routerLink="/plans">Planes</a></li>
    <li class="nav-item"><a routerLink="/help-service">Ayuda</a></li>
    <li class="nav-item"><a routerLink="/contacts">Contáctanos</a></li>
    <li class="nav-item"><a routerLink="/faq">FAQs</a></li>
  </ul>
  <div class="auth">
    <span><a class="login" routerLink="/login">Iniciar sesión</a></span>
    <button class="signup-button " routerLink="/signup" >Crear cuenta</button>
  </div>

</mat-toolbar>
