
<div class="container">
  <mat-card class="card">
    <div class="img-portal">
      <img src="https://i.postimg.cc/26DkYh4y/signin.png" alt=" "/>
    </div>
    <div class="form-container">
      <mat-card-content>
        <mat-card-title class="welcome">Bienvenidos a Saifu</mat-card-title>
        <p>Para usar la aplicación, por favor <a routerLink="/login">iniciar sesion</a> o registrarse</p>
        <mat-card-title class="title-signup">Registrate</mat-card-title>
      </mat-card-content>

      <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <mat-icon>check_box_outline_blank </mat-icon> He leido y acepto los terminos y condiciones y la Politica de Privacidad
        <mat-card-actions class="btn-signup" >
          <button mat-raised-button color="primary" type="submit">Crear cuenta</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>
