.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pi-search {
  margin-left: -2rem;
  cursor: pointer;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-size: 10%;
}



.transaction-table th {
  background-color: #437F54;
  color: white;
}

.view-button {
  background-color: #437F54;
  color: white;
}

.pagination {

  max-width: 320px;
  display: flex;
  justify-content: space-between; /* Mantiene el contenido distribuido */
  align-items: end;
  margin-top: 1rem;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-left: auto;

}

/* Alinear el Filtrado por Página a la izquierda */
.pagination-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos de filtrado */
  width: 100%;
}

.pagination-info select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: #f8f8f8;
  cursor: pointer;
}

.pagination-info span {
  font-size: 0.9rem;
  color: #555;
}

/* Botones de flecha de paginación a la derecha */
.pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre las flechas de paginación */
}

.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #437F54;
  padding: 5px 10px;
  border-radius: 50%;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button i {
  font-size: 1.2rem;
  color: #437F54;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
/* Estilos para botones */
.view-button, .add-button, .delete-button {
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;

  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.view-button{
  font-size: 12px;
  padding: 0.3rem 3rem;
  border-radius: 18px;
}
/* Estilo para el botón de "Agregar transacción" */
.add-button {
  background-color: #437F54;
  color: white;
  padding: 1rem 5.7rem;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: normal;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.add-button:hover {
  background-color: #366a45; /* Un verde más oscuro para hover */
}

/* Estilo para el botón de "Eliminar transacción" */
.delete-button {
  background-color: transparent;
  color: #437F54;
  padding: 1rem 5.7rem;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: normal;
  border: 2px solid #437F54;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 3rem;
}

.delete-button:hover {
  background-color: #f4f4f4; /* Color de fondo claro en hover */
  color: #366a45; /* Un verde más oscuro en hover */
}
.pv-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 5rem 20% auto;
  overflow: hidden;
  padding: 3rem 6.5rem;
  font-family: 'Nunito', sans-serif;

}
/* Estilos de la tabla */
.transaction-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1rem;
}

.transaction-table th, .transaction-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.transaction-table th {
  background-color: #437F54;
  color: white;

}

.transaction-table tr:last-child td {
  border-bottom: none;
}

#productos{
  text-align: left;
}
/* Mejoras en la barra de búsqueda y paginación */
.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.register-style{

}

.back-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.back-button {
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
}

.back-button:hover {
  background-color: #f4f4f4;
}
