<div>
  <app-toolbar></app-toolbar>
</div>
<div class="plan-subscription-container">
  <!-- Contenido de suscripción de planes -->
  <div class="plan-subscription">
    <h1>Selecciona un plan</h1>
    <div class="plans-container">
      <!-- Plan Básico -->
      <div class="plan-card basic">
        <h2>Básico</h2>
        <p class="price">S/10 <span>/month</span></p>
        <ul class="features">
          <li><span class="check-icon">✔</span>Registrar tres miembros</li>
          <li><span class="check-icon">✔</span>Generar 03 reportes max</li>
        </ul>
        <button mat-button class="accept-button outlined-button">Acepto</button>
      </div>

      <!-- Plan Regular -->
      <div class="plan-card regular">
        <div class="recommendation">Recomendación de SAIFU</div>
        <h2>Regular</h2>
        <p class="price">S/35,85 <span>/month</span></p>
        <ul class="features">
          <li><span class="check-icon">✔</span>Acceso a material educativo adicional</li>
          <li><span class="check-icon">✔</span>Creación de foros en comunidad</li>
        </ul>
        <button mat-button class="accept-button outlined-button">Acepto</button>
      </div>

      <!-- Plan Premium -->
      <div class="plan-card premium">
        <h2>Premium</h2>
        <p class="price">S/67,75 <span>/month</span></p>
        <ul class="features">
          <li><span class="check-icon">✔</span>Creación de biblioteca virtual</li>
          <li><span class="check-icon">✔</span>Acceso a información de alta calidad</li>
          <li><span class="check-icon">✔</span>Registro ilimitado de datos financieros</li>
        </ul>
        <button mat-button class="accept-button outlined-button">Acepto</button>
      </div>
    </div>
  </div>
</div>
