<div class="tasa-container">
  <div class="left-section">
    <img class="info-image" src="assets/dante.jpg" alt="Foto de Dante">
    <hr class="progress-bar">
    <p class="question">¿Qué es una tasa crediticia?</p>
  </div>

  <div class="right-section">
    <div class="section-2">
      <h2>Tasa Crediticia</h2>
      <p>La tasa crediticia es el costo en porcentaje anual que un prestatario paga al prestamista por un préstamo. Varía según el tipo de préstamo, la calidad crediticia y las condiciones del mercado.</p>
    </div>

    <div class="section-3">
      <h2>Gestión de tasa crediticia</h2>
      <p>La gestión de la tasa crediticia implica monitorear y ajustar los tipos de interés aplicados a préstamos o créditos para optimizar costos y riesgos financieros. Esto se hace para mantener la estabilidad financiera y garantizar condiciones competitivas en el mercado.</p>
      <button mat-raised-button color="primary" class="download-button">Descargar material</button>
    </div>
  </div>
</div>
